NUXT_PUBLIC_URL=http://localhost:3000
NUXT_PUBLIC_NAME=LeadFlow

NUXT_DATABASE_URL="postgresql://postgres:postgres@localhost/db"

# Plausible
PLAUSIBLE_DOMAIN=demo.usenuxt.com
PLAUSIBLE_API_HOST=https://analytics.domain76.com

# Google Auth
NUXT_GOOGLE_CLIENT_ID=""
NUXT_GOOGLE_CLIENT_SECRET=""

# Stripe
NUXT_STRIPE_PUBLISHABLE_KEY=""
NUXT_STRIPE_SECRET_KEY=""
NUXT_STRIPE_WEBHOOK_SECRET=""